/* CSS declarations go here */
ul.candidates {
  li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    list-style: none;
    background: white;

    font-size: 1.1em;
    position: relative;
  }

  padding-left: 0;
  margin-bottom: 30px;
}